<!DOCTYPE html>
<html dir="ltr">

<head> {{ partial "head.html" .}}</head>

<body class=""><section>{{ partial "home-lit.html" .}}</section>
	
	
	

	<section class="separator-greenLine">
		<div class="wrapper">
<p style="font-size: 12px; opacity: 0.5">Requires SegWit and CSV CLTV support and the same hash function in the scripting language.</p>
<p style="font-size: 12px; opacity: 0.5;"><a style="text-decoration: none;" href="https://github.com/mit-dci/lit/pulls" target="_blank">Add Coin to LIT - Send a Pull Request</a></p>
</div>
	</section>
    
</body>

</html>