<section id="home-lit" data-section="home-how">





        <div class="wrapper">
            
                <div class="childController">


                    <svg style="    width: 120px;
    height: auto;
    margin-top: 3em;
    margin-bottom: 3em;" width="45px" height="38px" viewBox="0 0 45 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(-1.000000, 0.000000)" fill="#1D1D1D">
            <text id="LIT" font-family="GothamBlack, Gotham Black" font-size="28.9876417" font-weight="700">
                <tspan x="0" y="21">LIT</tspan>
            </text>
            <text id="BOX" font-family="GothamBook, Gotham Book" font-size="10.4286885" font-weight="normal" line-spacing="9.09551185">
                <tspan x="10.4314218" y="36.7612139">BOX</tspan>
            </text>
        </g>
    </g>
</svg>
                    <p class="">{{ i18n "lit_description" | markdownify }}</p>
                    
                    <div class="bulletPoint spaceAround">
                    	<div>
                    		
                    		<svg style="    width: 427px;
    height: auto;" width="397px" height="161px" viewBox="0 0 397 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Remote Interface</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Remote-Interface" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-4" transform="translate(39.500000, 39.500000)" stroke-width="0.5">
            <rect id="Rectangle-22-Copy" stroke="#333333" x="273.75" y="0.25" width="44" height="81.5" rx="9"></rect>
            <path d="M65,42.25 L254,42.25" id="Line" stroke="#979797" stroke-linecap="square"></path>
            <rect id="Rectangle-22-Copy-2" stroke="#333333" transform="translate(22.250000, 41.000000) scale(-1, 1) translate(-22.250000, -41.000000) " x="0.25" y="0.25" width="44" height="81.5" rx="9"></rect>
            <g id="Group" transform="translate(252.000000, 42.250000) scale(-1, 1) translate(-252.000000, -42.250000) translate(248.500000, 37.500000)" stroke="#979797" stroke-linecap="square">
                <path d="M0.25,4.75 L6.75,0.25" id="Line-9-Copy-3"></path>
                <path d="M0.25,9.25 L6.75,4.75" id="Line-9-Copy-2" transform="translate(3.500000, 7.000000) scale(1, -1) translate(-3.500000, -7.000000) "></path>
            </g>
            <g id="Group-Copy" transform="translate(64.000000, 37.500000)" stroke="#979797" stroke-linecap="square">
                <path d="M0.25,4.75 L6.75,0.25" id="Line-9-Copy-3"></path>
                <path d="M0.25,9.25 L6.75,4.75" id="Line-9-Copy-2" transform="translate(3.500000, 7.000000) scale(1, -1) translate(-3.500000, -7.000000) "></path>
            </g>
            <g id="Group-2" transform="translate(171.500000, 12.500000)" fill="#FFFFFF" stroke="#333333">
                <rect id="Rectangle-22" x="0.25" y="0.25" width="57" height="57" rx="9.09999985"></rect>
            </g>
            <g id="Group-3" transform="translate(89.000000, 12.500000)" fill="#FFFFFF" stroke="#333333">
                <rect id="Rectangle-22-Copy-3" transform="translate(28.750000, 28.750000) scale(-1, 1) translate(-28.750000, -28.750000) " x="0.25" y="0.25" width="57" height="57" rx="9.09999985"></rect>
            </g>
        </g>
    </g>
</svg>

                    	</div>
                    </div>
                

<div class="whatsPossible bulletPoint spaceBetween" style="font-size: 12px; opacity: 0.5;">


                        

                    <div>Single Address For Your Coins - LIT address</div>


                    

                    <div>Encrypted End-to-end Messaging</div>


                    

                    <div>Trustless Crypto Stack</div>


                    


                    </div>



<a class="githubCheck" href="https://github.com/mit-dci/lit" target="_blank"> Check it out on Github</a>
                </div>
                

        </div>








</section>