<section id="home-lit" data-section="home-how">





        <div class="wrapper">
            
                <div class="childController">


                    <svg style="    width: 120px;
    height: auto;
    margin-top: 3em;
    margin-bottom: 3em;" width="45px" height="38px" viewBox="0 0 45 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(-1.000000, 0.000000)" fill="#1D1D1D">
            <text id="LIT" font-family="GothamBlack, Gotham Black" font-size="28.9876417" font-weight="700">
                <tspan x="8.5" y="21">lit</tspan>
            </text>
            <text id="BOX" font-family="GothamBook, Gotham Book" font-size="10.4286885" font-weight="normal" line-spacing="9.09551185">
                <tspan x="10.4314218" y="36.7612139">BOX</tspan>
            </text>
        </g>
    </g>
</svg>
                    <p class="">{{ i18n "lit_description" | markdownify }}</p>
                    
                    <div class="whatsPossible bulletPoint spaceBetween" style="font-size: 12px; opacity: 0.5;">

  <div>Single Address</div>
                        
 <div>User Friendly</div>
 <div>Trustless Crypto</div>
                  


                    

                   


                    

                    


                    


                    </div>

<svg style="       max-width: 604px;
    height: auto;
    margin-bottom: 38px;
    margin-top: 10px;" width="1490px" height="410px" viewBox="0 0 1490 410" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Remote Interface Copy</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Remote-Interface-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(-5.000000, 0.000000)" stroke="#333333" stroke-width="2.5">
            <g id="Group-4" transform="translate(4.500000, 0.000000)">
                <rect id="Rectangle-22-Copy" x="1268.75" y="1.25" width="220" height="407.5" rx="45"></rect>
                <rect id="Rectangle-22-Copy-2" transform="translate(111.250000, 205.000000) scale(-1, 1) translate(-111.250000, -205.000000) " x="1.25" y="1.25" width="220" height="407.5" rx="45"></rect>
                <g id="Group-2" transform="translate(837.500000, 62.500000)">
                    <rect id="Rectangle-22" x="1.25" y="1.25" width="285" height="285" rx="45.4999992"></rect>
                </g>
                <g id="Group-3" transform="translate(370.000000, 62.500000)">
                    <rect id="Rectangle-22-Copy-3" transform="translate(143.750000, 143.750000) scale(-1, 1) translate(-143.750000, -143.750000) " x="1.25" y="1.25" width="285" height="285" rx="45.4999992"></rect>
                </g>
            </g>
        </g>
        <g id="Group-23" transform="translate(710.000000, 170.000000)" fill="#333333">
            <rect id="Rectangle-28" x="0.685714286" y="19.8498695" width="67.8857143" height="1.8" rx="0.9"></rect>
            <rect id="Rectangle-28-Copy-3" x="1.97142857" y="53.2832898" width="72.6857143" height="1.8" rx="0.9"></rect>
            <rect id="Rectangle-28-Copy" transform="translate(65.826184, 27.928790) rotate(-43.000000) translate(-65.826184, -27.928790) " x="54.2266981" y="27.0377981" width="23.1989728" height="1.8" rx="0.9"></rect>
            <rect id="Rectangle-28-Copy-2" transform="translate(65.826184, 13.503203) scale(1, -1) rotate(-43.000000) translate(-65.826184, -13.503203) " x="54.2266981" y="12.6122107" width="23.1989728" height="1.8" rx="0.9"></rect>
            <g id="Group-20" transform="translate(9.171429, 54.259138) scale(-1, 1) translate(-9.171429, -54.259138) translate(0.000000, 38.518277)">
                <rect id="Rectangle-28-Copy-5" transform="translate(9.169042, 22.928790) rotate(-43.000000) translate(-9.169042, -22.928790) " x="-2.4304448" y="22.0377981" width="23.1989728" height="1.8" rx="0.9"></rect>
                <rect id="Rectangle-28-Copy-4" transform="translate(9.169042, 8.503203) scale(1, -1) rotate(-43.000000) translate(-9.169042, -8.503203) " x="-2.4304448" y="7.61221067" width="23.1989728" height="1.8" rx="0.9"></rect>
            </g>
        </g>
    </g>
</svg>
                    		
                

                    	</div>
                         <p class="">The idea is very simple, the boxes communicate the relevant transaction information while the user is left with a single unified 'Crypto Address' while maintaining full control of his/her private keys.</p>



<a class="githubCheck" href="https://github.com/mit-dci/lit/pull/312" target="_blank"> Check it out on Github</a>

                    </div>
                



                   



                </div>
                

        </div>








</section>